/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Sixtyfour&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Font by default*/
body {
  font-family: 'Corben', sans-serif;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 9999px;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}